{% extends "base.html" %}
{% block title %}{{ revista.nombre }} - Detalle{% endblock %}

{% block content %}
<h2>Detalles de la Revista</h2>

<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <td>{{ revista.nombre }}</td>
    </tr>
    <tr>
        <th>Sitio</th>
        <td><a href="{{ revista.site }}" target="_blank">{{ revista.site }}</a></td>
    </tr>
    <tr>
        <th>H-Index</th>
        <td>{{ revista.h_index }}</td>
    </tr>
    <tr>
        <th>Área temática</th>
        <td>{{ revista.subject_area_category }}</td>
    </tr>
    <tr>
        <th>Publisher</th>
        <td>{{ revista.publisher or 'No disponible' }}</td>
    </tr>
    <tr>
        <th>ISSN</th>
        <td>{{ revista.issn or 'No disponible' }}</td>
    </tr>
    <tr>
        <th>Widget</th>
        <td>{% if revista.widget %}{{ revista.widget | safe }}{% else %}No disponible{% endif %}</td>
    </tr>
    <tr>
        <th>Tipo de publicación</th>
        <td>{{ revista.publication_type or 'No disponible' }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td><a href="{{ revista.url }}" target="_blank">{{ revista.url }}</a></td>
    </tr>
    <tr>
        <th>ID</th>
        <td>{{ revista.id or 'No disponible' }}</td>
    </tr>
    
</table>

<a href="{{ url_for('guardar', titulo=revista.nombre) }}" class="btn btn-success">Guardar revista</a>

<a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al inicio</a>
{% endblock %}